<!-- Copy this file and change the name to App.config -->
<!-- After that change the username and password to your own -->

<configuration>
	<connectionStrings>
		<add name="SimFit360"
		     connectionString="server=localhost;port=3306;user=root;password=;database=SimFit360" />
	</connectionStrings>
</configuration>

